/* all rules*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, address, img, ol, ul, li, article, aside, 
figure, figcaption, footer, header,
menu, nav, output, section, button 
{
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
	font-size: 100%;
	vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}

html {
    box-sizing: border-box; 
    background-color: #9898c6;    
}

.flex {
    display: flex;
}

.container {
    max-width: 1200px;
    padding: 15px 10px;
    margin: 0 auto;
}

/*header*/ 

.hidden_menu {
    visibility: hidden;
}

.header {
    background-color: #DBE6F5;
}

.logo {
    max-width: 100px;
    margin-right: 40px;
    cursor: pointer;
}

.header_container {
    flex-direction: row;
}

.nav_item:not(:last-child) {
    margin-right: 40px;
}

.navigation {
    align-items: center;
}

.header_container {
    justify-content: space-between;    
}

.header_button {
    padding: 0;
    border: none;
    background-color: transparent;
    align-items: center;
}

.registration, .log_in {
    padding-right: 30px;    
}

.nav_link, .registration, .log_in  {
    color: #000;
    font-size: 1rem;
}

.registration, .log_in {
    border: 2px solid #103F88;
    border-radius: 50px;
    padding: 10px 20px;
}

.log_in {
    margin-left: 20px;
}

.nav_link:hover {
    color: #103F88;
    transition: 0.3s;
}

.header_button:hover {    
    transform: scale(1.1);
    transition: 0.4s;
}

/*main*/

.main {
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #fff;    
}

.photo_item {
    background-image: url("../images/photo.jpg");
    width: 300px;
    height: 300px;
    margin-right: 20px;
    border: 3px solid #00007a;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;    
}

.information {
    flex-direction: column;
    color: #000;
    margin-bottom: 70px;
}

.main_title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #00007a;
    margin-bottom: 10px;
}

.section_items {
    flex-direction: row;
    justify-content: space-between;    
}

.info_personal, .info_course {
    width: 50%;
}

.info_course {
    margin-left: 20px;
}

.title_article {
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    background-image: url(../images/icon_user.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.title_article_second {
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    background-image: url(../images/icon_os.svg);
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 20px;
}

.personal_descr {
    text-align: start;
}

.article_descr {
    text-align: start;
}

/*footer*/

.content_info {
    flex-direction: column;
    color: #000;
    justify-content: center ;
}

.footer_container {
    justify-content: space-between;
}

.footer_content {    
    background-color: #DBE6F5;
}

/* раздел с книгами и фильмами на флексах*/

.flex_items {
    flex-direction: row;
    margin-bottom: 70px;
}

.flex_item_left {
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.flex_item_right {
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.flex_item {
    flex-direction: column; 
}

.item_title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
    color: #000;
}

.item_content_left {
    justify-content: space-between;
    color: #000;
    text-align: center;
}

.item_1, .item_2 {
    width: 50%;
    border: 1px solid #103F88;;
    border-radius: 15px;
    padding: 20px;
    background-color: #DBE6F5;    
    flex-wrap: wrap;
}

.item_1 {
    margin-right: 15px;
}

.item_1:hover {    
    transform: scale(1.16,1.16);
    transition: 0.4s;
    cursor: pointer;
}

.item_2:hover {    
    transform: scale(1.16,1.16);
    transition: 0.4s;
    cursor: pointer;
}

.flex_item_left {
    border: 1px solid #103F88;;
    border-radius: 15px;
    padding: 20px;    
    justify-content: flex-start;
}

.flex_item_left:nth-last-child(2) {
    margin-right: 15px;
}

.item_image {
    margin-bottom: 15px;
}

/* раздел с музыкой и играми на гридах*/

.item_description {
    color: #000;
    font-size: 20px;
}

.grid {
    display: grid;
}

.grid_items {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #00007a;

}

.item_grid:hover {    
    transform: scale(1.16,1.16);
    transition: 0.4s;
    cursor: pointer;
}

.title_grid {
    font-size: 30px;
    color: #000;
    text-align: center;
    padding-bottom: 15px;
}

.item_grid {
    border: 1px solid #103F88;;
    margin-bottom: 15px;
    padding: 15px 15px 30px 15px;
    background-color: #3a0053; 
    border-radius: 20px;
    width: 80%;
}

.card_1 {
    background-image: url(../images/group.jpg);
    background-size: cover;
    height: 280px;
}

.card_2 {
    background-image: url(../images/florence.webp);
    background-size: cover;
    height: 280px;
}

.card_3 {
    background-image: url(../images/game1.jpg);
    background-size: cover;
    height: 280px;
}

.card_4 {
    background-image: url(../images/game2.jpg);
    background-size: cover;
    height: 280px;
}

/*медиа-запросы*/

@media (min-width: 1024px) and (max-width: 1199px) {

	.container {
        max-width: 950px;
        padding: 15px 10px;
        margin: 0 auto;
    }
    
}

@media (min-width: 800px) and (max-width: 955px) {

	.container {
        max-width: 950px;
        padding: 15px 10px;
        margin: 0 auto;
    }
    
    .flex_items {
        flex-direction: column;
        align-items: center;
    }
    
    .flex_item_left {
        width: 70%;
        margin-bottom: 20px;
    }

    .flex_item_left:nth-last-child(2) {
        margin-right: 0px;
    }    
}

@media (min-width: 600px) and (max-width: 800px) {

	.container {
        max-width: 650px;
        padding: 15px 10px;
        margin: 0 auto;
    } 

    .nav_items_header {
        display: none;
    }
    
    .hidden_menu {
        visibility: visible;
        color: #000;
        font-size: 1rem;
        cursor: pointer;
        font-size: 20px;
    }

    .hidden_menu:hover {
        color: #c136fd;
        transition: 0.3s;
    }

    .nav_item:not(:last-child) {
        margin-right: -17px;
    }

    .main_information {
        flex-direction: column;
        align-items: center;
    }

    .flex_item_left:nth-last-child(2) {
        margin-right: 0px;
    }
    
    .photo_profile {
        margin-bottom: 20px;
    }

    .section_items {
        flex-direction: column;
        align-items: center;
    }

    .info_personal {
        font-size: 20px;
        width: 90%;
        line-height: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid #c136fd;
        padding-bottom: 20px;
    }

    .info_course {
        font-size: 20px;
        width: 90%;
        line-height: 40px;
    }

    .flex_items {
        flex-direction: column;
        margin-right: 0;
        align-items: center;
    }

    .flex_item_left {
        width: auto;
        margin-bottom: 20px;
    }

    .item_1:hover {    
        transform: none;
        transition: 0.4s;
        cursor: pointer;
    }
    
    .item_2:hover {    
        transform: none;
        transition: 0.4s;
        cursor: pointer;
    }
}

@media (min-width: 480px) and (max-width: 599px) {

	.container {
        max-width: 500px;
        padding: 15px 10px;
        margin: 0 auto;
    } 

    .nav_items_header {
        display: none;
    }

    .hidden_menu {
        visibility: visible;
        color: #000;
        font-size: 1rem;
        cursor: pointer;
        font-size: 20px;
    }

    .hidden_menu:hover {
        color: #c136fd;
        transition: 0.3s;
    }

    .nav_item:not(:last-child) {
        margin-right: -80px;
    }

    .main_information {
        flex-direction: column;
        align-items: center;
    }

    .photo_profile {
        margin-bottom: 20px;
    }

    .section_items {
        flex-direction: column;
        align-items: center;
    }

    .flex_item_left:nth-last-child(2) {
        margin-right: 0px;
    }

    .info_personal {
        font-size: 20px;
        width: 90%;
        line-height: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid #c136fd;
        padding-bottom: 20px;
    }

    .info_course {
        font-size: 20px;
        width: 90%;
        line-height: 40px;
    }

    .flex_items {
        flex-direction: column;
        margin-right: 0;
        align-items: center;
    }

    .flex_item_left {        
        width: auto;
        margin-bottom: 20px;
        margin-right: 0;        
    }

    .item_content_left {
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .item_1 {
        margin-right: 0;
        margin-bottom: 20px;
        width: auto;
    }

    .item_2 {
        margin-right: 0;
        width: auto;
    }

    .item_1:hover {    
        transform: none;
        transition: 0.4s;
        cursor: pointer;
    }
    
    .item_2:hover {    
        transform: none;
        transition: 0.4s;
        cursor: pointer;
    }

    .grid_items {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .item_grid:hover {    
        transform: none;
        transition: 0.4s;
        cursor: pointer;
    }
}

@media (min-width: 320px) and (max-width: 479.99px) {
    .html {
        box-sizing: border-box;       
    } 

	.container {
        max-width: 450px;
        padding: 15px 10px;
        margin: 0 auto;
    } 

    .flex_item_left:nth-last-child(2) {
        margin-right: 0px;
    }

    .hidden_menu {
        visibility: visible;
        color: #000;
        font-size: 1rem;
        cursor: pointer;
        font-size: 20px;
    }
    
    .hidden_menu:hover {
        color: #c136fd;
        transition: 0.3s;
    }
    
    .header_button_main {
        display: none;
    }

    .nav_items_header {
        display: none;
    }
  
    .main_information {
        flex-direction: column;
        align-items: center;
    }

    .photo_profile {
        margin-bottom: 20px;
    }

    .photo_item {
        background-image: url("../images/photo.jpg");
        width: 200px;
        height: 200px;
    }    
    
    .section_items {
        flex-direction: column;
        align-items: center;
    }

    .info_personal {
        font-size: 20px;
        width: 90%;
        line-height: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid #c136fd;
        padding-bottom: 20px;
    }

    .info_course {
        font-size: 20px;
        width: 90%;
        line-height: 40px;
    }

    .flex_items {
        flex-direction: column;
        margin-right: 0;
        align-items: center;
    }

    .flex_item_left {        
        width: auto;
        margin-bottom: 20px;        
    }

    .item_content_left {
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .item_1 {
        margin-right: 0;
        margin-bottom: 20px;
        width: auto;
    }

    .item_2 {
        margin-right: 0;
        width: auto;
    }

    .item_1:hover {    
        transform: none;
        transition: 0.4s;
        cursor: pointer;
    }
    
    .item_2:hover {    
        transform: none;
        transition: 0.4s;
        cursor: pointer;
    }

    .grid_items {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .item_grid:hover {    
        transform: none;
        transition: 0.4s;
        cursor: pointer;
    }
}