table, td {
    border: 1px solid #000;
    width: 150px;
    height: 50px;
    table-layout: fixed;
}

.flex {
    display: flex;
} 

.element_name {
    margin-right: 50px;
}

.element_item {
    font-size: 35px;
}

.item_pink {
    background-color: pink;
}

.item_green {
    background-color: rgb(125, 214, 137);
}

.item_blue {
    background-color: rgb(127, 210, 239);
}

.item_yellow {
    background-color: rgb(248, 238, 100);
}

.any_item {
    flex-direction: column;
    align-items: center;
}


.element_item_left, .element_descr_left {
    margin-left: 30px;
}

.empty_item {
    font-size: 30px;
}

.empty_item {
    text-align: center;
}